#searchArea {
    position: fixed;
    top: 0;
    width: 100vw;
}

#searchArea form {
    padding: 16px;
    height: 32px;
    background-color: #24292E;
    color: #fff;
    align-content: center;
    display: flex;
}

#searchArea form img svg {
    fill: #fff;
}

#searchArea form input {
    width: 250px;
    height: 28px;
    padding-left: 8px;
    margin: 0 0 0 16px;
    background-color: #3F4448;
    color: #6E7275;
    border: none;
    border-radius: 5px 0 0 5px;
    transition: all .4s;
}

#searchArea form input:focus{
    width: 400px;
    background-color: #fff;
    color: #000;
}

#searchArea form button {
    height: 30px;
    width: 30px;
    margin-left: 0;
    background-color: #3F4448;
    border: none;
    border-radius: 0 5px 5px 0;
    color: #fff;
    transition: all .3s;
}

#searchArea form button:hover {
    background-color: #6E7275;
}

/* Area com informações de perfil e repositórios */
#infos{
    width: 100vw;
    display: flex;
    margin: 80px 0 0 0;
    padding: 0 0 20px 64px;
}

/* Area com repositórios */
#reposArea {
    max-width: auto;
    padding: 0 100px 0 10px;
}




@media only screen and (min-width: 951px) {
    body {
        overflow-y: hidden;
    }
    #reposArea {
        padding-right: 50px;
        overflow-y: scroll;
        height: 90vh;
    }
}


@media only screen and (max-width: 950px){

    #searchArea form {
        justify-content: center;
        display: block;
        height: 66px;
        padding: 5px 0 10px 0;
        text-align: center;
    }

    #searchArea form div {
        width: 100%;
    }

    #searchArea form input {
        margin: 0;
        align-self: center;
    }

    /* Area com informações de perfil e repositórios */
    #infos{
        width: auto;
        display: block;
        margin: 81px 0 0 0;
        padding: 20px;
        justify-content: center;
    }

    /* Area com repositórios */
    #reposArea {
        max-width: auto;
        padding: 0;
    }
}

@media only screen and (max-width: 600px) {
    #reposArea {
        max-width: auto;
        padding: 0;
        text-align: center;
    }

    #reposArea h1 {
        text-align: start;
        margin-bottom: 0px;
        padding-left: 15px;
    }

    #searchArea form input{
        width: 200px;
    }

    #searchArea form input:focus{
        width: 300px;
    }

}